/app/**
/admin-dev
/bin
/cache
/classes/*
/config
/controllers
/docs
/download
/img
/install-dev
/js
/localization
/mails
/modules
/override/*
/pdf
/src/*
/templates
/tests
/themes/*
/tools
/translations
/upload
/var
/vendor
/webservice
bower_components
node_modules
composer.phar
php-cs-fixer
.grunt/*
*sitemap.xml
robots.txt

# Symfony
/.web-server-pid
/build
/phpunit.xml
/web

.htaccess
error500.html
!composer.json
composer.lock
CONTRIBUTING.md
CONTRIBUTORS.md
CODE_OF_CONDUCT.md
/LICENSE.md
/README.md
.php-cs-fixer.dist.php
autoload.php
docker_updt_ps_domains.php
index.php
init.php
.phpunit.result.cache
HOOK.txt
INSTALL.txt
phpstan.neon.dist
.t9n.yml
docker-compose.yml
Makefile
.idea
.github
.editorconfig
.docker


#ShoppyGo

!app/AppKernel.php
!app/Resources
app/Resources/*
!app/Resources/PrestaShopBundle
!app/Resources/PrestaShopBundle/**/*

!app/config
app/config/*
!app/config/routing.yml
!app/config/config_legacy.yml



!classes/shoppygo
!classes/marketplace
!classes/PrestaShopAutoload.php
!config/autoload.php

!src/Adapter
src/Adapter/*
!src/Adapter/Product
src/Adapter/Product/*
!src/Adapter/Product/AdminProductDataProvider.php

!src/ShoppyGo
!src/ShoppyGo/dashboard-app
!src/ShoppyGo/dashboard-app/**/*


!override/classes/PaymentModule.php
!themes/classic/templates/catalog/product.tpl
!themes/classic/templates/catalog/_partials/miniatures/product.tpl
!themes/classic/templates/checkout/_partials/cart-detailed-product-line.tpl

